body {
  font-family: Gill Sans, sans-serif;
  background-color: #ADD8E6; 
  text-align: center;
}

h1 {
  font-size: 48px; 
  color: #333333; 
}

h2 {
  font-size: 36px; 
  color: #333333; 
  margin-bottom: 20px;
}

.zoo-container {
  display: flex;
  justify-content: center;
}

.zoo-link {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  color: #333333; 
  text-align: center; 
}

.zoo-link:hover img {
  transform: scale(1.1); 
}

.zoo-link img {
  width: 300px; 
  height: auto; 
  border-radius: 10px; 
  border: 2px solid #778899; 
  transition: transform 0.3s ease; 
}

.zoo-name {
  display: block;
  font-size: 24px; 
  margin-top: 10px; 
}

.intro {
  max-width: 800px; 
  margin: 0 auto;   
  text-align: justify;
}

h3 {
  text-align: center; 
}


